.Header{
    background-color: rgb(104,218,53);
}

.camel{
    background-color: crimson;
}

.panda{
    background-color: rgb(104,218,53);
}

.pigeon{
    background-color: crimson;
}

.chameleon{
    background-color: rgb(104,218,53);
}